{% extends "main-signedin.html" %}
{% block content %}
  <div class="col-sm-9">
    <h2><span>{{manufacturer}} Phones</span></h2>
    <ul class="list-group phone_list">
				{% for m in models %}

				<li class="phone_list"><a href={{url_for('showPhoneSpecs',manufacturer=manufacturer,model=m.name)}} class="phone_list">{{m.name}}</a></li>

				{% endfor %}
				<li class="phone_list"><a class="phone_list" href={{url_for('newManufacturerPhone', manufacturer=manufacturer)}}>Add a SmartPhone</a></li> 
			</ul>
  </div>
{% endblock %}

2022577825