{% extends "main-signedin.html" %}
{% block content %}

   <div class="col-sm-6 well">
	{% with messages = get_flashed_messages() %}
      {% if messages %}
          

        {% for message in messages %}
		    <div class="alert alert-warning" role="alert">{{ message }}</div>
        
        {% endfor %}
       
        {% endif %}
    {% endwith %}

    <h3><span>{{model.name}}</span></h3>
    
	<dl class="dl-horizontal">

	<dt>Size: </dt> 
	<dd> {{specs.size}}</dd>
	<dt>Weight:</dt> 
	<dd>{{specs.weight}}</dd>
	<dt>Camera: </dt>
	<dd>{{specs.camera}}</dd>
	<dt>Memory:</dt>
    <dd>{{specs.memory}}</dd>
	<dt>OS:</dt>
	<dd>{{specs.os}}</dd>
	<dt>display:</dt> 
	<dd>{{specs.display}}</dd>

</dl>

	{% if authorized %}
		<a class="btn btn-primary btn-xs" role="button" href={{url_for('editManufacturerPhone', manufacturer_id=manufacturer.id, model_id=model.id)}}>Edit</a>
		<a class="btn btn-primary btn-xs" role="button" data-toggle="modal" data-target="#deleteModal">Delete</a>
	{% else %}
		<a class="btn btn-primary btn-xs" role="button" href={{url_for('editManufacturerPhone', manufacturer_id=manufacturer.id, model_id=model.id)}} disabled>Edit</a>
		<a class="btn btn-primary btn-xs" role="button" data-toggle="modal" data-target="#deleteModal" disabled>Delete</a>
	{% endif %}
	
  </div>
  <div class="modal fade" id="deleteModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Alert</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete {{model.name}}?</p>
      </div>
      <div class="modal-footer">
	  <form action="/catalog/{{manufacturer.id}}/{{model.id}}/delete" method = 'post'>
      
        <a href={{url_for('deleteManufacturerPhone', manufacturer_id=manufacturer.id, model_id=model.id)}}>
			
		<button class="btn btn-primary delete">
		<span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Yes, delete it! </button>
	    </a>
	    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
		</form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}

