  <div class="col-sm-4">
    <div class="sidebar-nav">
      <div class="navbar navbar-inverse" role="navigation">
        <div class="navbar-header">
		
         <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button> -->
          <span class="visible-xs navbar-brand">Sidebar menu</span>
        </div>
        <div class="navbar-collapse collapse sidebar-navbar-collapse">
			<h3><span class="label">Manufacturers</span><a href={{url_for('newManufacturerPhone')}} type="button" class="btn btn-primary btn-xs" aria-label="Add a new phone">
				<span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span>
			</a></h3>
			
			<ul  class="list-group">
				{% for m_id,m, c, mds in manufacturers %}
				<li class='phone_list'><a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" 
				data-content="{% for md in mds %}<a class='phone_list' href={{url_for('showPhoneSpecs',manufacturer_id=m_id,model_id=md.id)}}>{{md.name}}</a><br>{% endfor %}">{{m}}   
				<span class="badge">{{c}} item(s)</a>
			
				{% endfor %}
				
			</ul>

			
			<h4><span class="label">Recently Added</span></h4>
			<ul class="list-group">
				{% for mod_id,mod, man_id, man in recent_models %}

				<li><a href={{url_for('showPhoneSpecs',manufacturer_id=man_id,model_id=mod_id)}}>{{mod}} ({{man}})</a></li>

				{% endfor %}
		
			</ul>
		

        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>